<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RHISEntities" connectionString="metadata=res://*/Rhis.csdl|res://*/Rhis.ssdl|res://*/Rhis.msl;provider=System.Data.SqlClient;provider connection string=&quot;{RhisConnectString};App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RmisEntities" connectionString="metadata=res://*/Rdmp.csdl|res://*/Rdmp.ssdl|res://*/Rdmp.msl;provider=System.Data.SqlClient;provider connection string=&quot;{RmisConnectString};App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CacheEntities" connectionString="metadata=res://*/RhisCache.csdl|res://*/RhisCache.ssdl|res://*/RhisCache.msl;provider=System.Data.SqlClient;provider connection string=&quot;{CacheConnectString};App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="configurationUrl" value="http://192.168.0.51:8025/api/configuration/rhis" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>